.main {
  background-color: black;
  color: white;
}

.profile {
  position: relative;
  width: 400px;
  text-align: center;
  padding: 1rem;
  background-color: #538067;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 9px 9px 22px 0px rgba(119, 158, 119, 0.75);
  -webkit-box-shadow: 9px 9px 22px 0px rgba(119, 158, 119, 0.75);
  -moz-box-shadow: 9px 9px 22px 0px rgba(119, 158, 119, 0.75);
}

.avatar {
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 20px;
}

.avatar-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}


.new {
  position: absolute;
  top: 10%;
  left: 80%;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  background-color: aquamarine;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}